**Variables**

In [18]:
name = "Faiq"
age = 25
height = 1.75

**User Input**

In [19]:
print("Enter your name:")
user_name = input()

Enter your name:
Faiq

**Conditional Statements**

In [20]:
if user_name == name:
    print(f"Welcome back, {user_name} !")
else:
    print("Nice to meet you, " + user_name + "!")

Welcome back, Faiq !

**Arithmetic Operators**

In [12]:
num1 = 10
num2 = 5
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
remainder = num1 % num2

In [13]:
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Remainder:", remainder)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Remainder: 0

**Logical Operators**

In [14]:
a = True
b = False
print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)

a and b: False
a or b: True
not a: False

**List, Tuple, Set, Dictionary**

In [15]:
# List
fruits = ["apple", "banana", "cherry"]
print("Fruits:", fruits)

# Tuple
numbers = (1, 2, 3)
print("Numbers:", numbers)

# Set
squares = {1, 4, 9, 16}
print("Squares:", squares)

# Dictionary
person = {
    "name": "Faiq",
    "age": 21,
    "height": 1.65
}
print("Person:", person)

Fruits: ['apple', 'banana', 'cherry']
Numbers: (1, 2, 3)
Squares: {16, 1, 4, 9}
Person: {'name': 'Faiq', 'age': 21, 'height': 1.65}

**Strings Manipulation**

In [16]:
# Python program to demonstrate string manipulation

# String concatenation
str1 = "Hello"
str2 = "World"
message = str1 + " " + str2
print(message)

# String formatting
name = "Faiq"
age = 21
height = 1.65
print("My name is {}, I'm {} years old, and my height is {:.2f} meters.".format(name, age, height))

# String indexing and slicing
text = "Python is a great language"
print("First character:", text[0])
print("Last character:", text[-1])
print("Sliced text from index 7 to 12:", text[7:12])

# String methods
text = "   hello world   "
print("Original text:", text)
print("Length of text:", len(text))
print("Text in uppercase:", text.upper())
print("Text in lowercase:", text.lower())
print("Stripped text:", text.strip())
print("Replaced text:", text.replace("hello", "hi"))
print("Split text into list of words:", text.split())

Hello World
My name is Faiq, I'm 21 years old, and my height is 1.65 meters.
First character: P
Last character: e
Sliced text from index 7 to 12: is a
Original text:    hello world
Length of text: 17
Text in uppercase:    HELLO WORLD
Text in lowercase:    hello world
Stripped text: hello world
Replaced text:    hi world
Split text into list of words: ['hello', 'world']