**Python List**

In [14]:
# Create a list of tuples containing student names and their respective grades
students = [("Faiq", 85), ("Yusra", 90), ("Tehniat", 75), ("Anas", 95)]

# Use list comprehension to extract the names of students who scored above 80
high_score_students = [student[0] for student in students if student[1] > 80]

In [15]:
#print the list
print(high_score_students)

['Faiq', 'Yusra', 'Anas']

In [16]:
#create the list of these students alongwith their grades.
high_achiever_scores=[student for student in students if student[1]>80]

In [17]:
print(high_achiever_scores)

[('Faiq', 85), ('Yusra', 90), ('Anas', 95)]

In [18]:
# Create a list of strings and sort them in descending order based on the length of each string
word_list = ["banana", "apple", "grape", "orange", "pear"]
word_list.sort(key=lambda x: len(x), reverse=True)

In [19]:
# Print out the sorted list of strings
print(word_list)

['banana', 'orange', 'apple', 'grape', 'pear']

**Python Dictionary**

In [20]:
# Create a dictionary containing shopping cart items and their respective prices
shopping_cart = {"apple": 1.0, "banana": 2.0, "orange": 1.5, "grape": 3.0}

# Calculate the total cost of the shopping cart by iterating over the dictionary
total_cost = 0.0
for item, price in shopping_cart.items():
    total_cost += price

# Use a string format method to display the total cost of the shopping cart
print("The total cost of the shopping cart is: ${:.2f}".format(total_cost))

The total cost of the shopping cart is: $7.50

**Python String**

In [21]:
# Create a dictionary to store the count of each character in a given string
my_string = "Hello World!"
char_count = {}
for char in my_string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print out the character count dictionary
print(char_count)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

In [24]:
# Create an empty list to store unique characters in the string
unique_list = []

# Iterate over the string to check for unique characters
sample_string = "hello world"
for char in sample_string:
    if char not in unique_list:
        unique_list.append(char)
# Print out the list of unique characters
print(unique_list)

['h', 'e', 'l', 'o', ' ', 'w', 'r', 'd']

In [25]:

# Create an empty string to store characters that are not vowels
new_string = ""

# Iterate over the string to remove vowels
vowels = "aeiouAEIOU"
for char in sample_string:
    if char not in vowels:
        new_string += char

# Print out the new string without vowels
print(new_string)

hll wrld