**Variables and Inputs**

In [21]:
name = input("What is your name? ")
age = int(input("What is your age? "))
height = float(input("What is your height in meters? "))

What is your name? Faiq Jamal
What is your age? 21
What is your height in meters? 1.65

**Conditional Statements**

In [22]:
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are eligible to vote.

**Arithmetic Operators**

In [23]:
x = 5
y = 2
print(f"{x} + {y} = {x + y}")
print(f"{x} - {y} = {x - y}")
print(f"{x} * {y} = {x * y}")
print(f"{x} / {y} = {x / y}")
print(f"{x} // {y} = {x // y}")
print(f"{x} % {y} = {x % y}")
print(f"{x} ** {y} = {x ** y}")

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 // 2 = 2
5 % 2 = 1
5 ** 2 = 25

**Logical Operators**

In [24]:
a = True
b = False
print(f"{a} and {b} = {a and b}")
print(f"{a} or {b} = {a or b}")
print(f"not {a} = {not a}")

True and False = False
True or False = True
not True = False

**List, Tuple, Set, Dictionary**

In [25]:
# Lists
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[1])
fruits[1] = "kiwi"
print(fruits)
fruits.append("orange")
print(fruits)
fruits.remove("cherry")
print(fruits)

# Tuples
colors = ("red", "green", "blue")
print(colors)
print(colors[1])

# Sets
numbers = {1, 2, 3, 4, 5}
print(numbers)
numbers.add(6)
print(numbers)
numbers.remove(3)
print(numbers)
# Dictionaries
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)
print(person["name"])
person["age"] = 31
print(person)
person["country"] = "USA"
print(person)

['apple', 'banana', 'cherry']
banana
['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'kiwi', 'orange']
('red', 'green', 'blue')
green
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{'name': 'Alice', 'age': 30, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 31, 'city': 'New York'}
{'name': 'Alice', 'age': 31, 'city': 'New York', 'country': 'USA'}

**Strings Manipulation**

In [26]:
# String manipulation
message = f"Hi, my name is {name}, I am {age} years old, and I am {height:.2f} meters tall."
print(message)
print(message.upper())
print(message.lower())
print(message.capitalize())
print(message.replace("name", "full name"))

Hi, my name is Faiq Jamal, I am 21 years old, and I am 1.65 meters tall.
HI, MY NAME IS FAIQ JAMAL, I AM 21 YEARS OLD, AND I AM 1.65 METERS TALL.
hi, my name is faiq jamal, i am 21 years old, and i am 1.65 meters tall.
Hi, my name is faiq jamal, i am 21 years old, and i am 1.65 meters tall.
Hi, my full name is Faiq Jamal, I am 21 years old, and I am 1.65 meters tall.

**For and While Loop**

In [27]:
# For loop
for i in range(5):
    print(f"Loop iteration {i+1}")

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# While loop
counter = 0
while counter < 5:
    print(f"Counter value: {counter}")
    counter += 1

Loop iteration 1
Loop iteration 2
Loop iteration 3
Loop iteration 4
Loop iteration 5
apple
banana
cherry
Counter value: 0
Counter value: 1
Counter value: 2
Counter value: 3
Counter value: 4